.card-body {
    max-width: 1000px;
    margin: 20px auto;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.btn {
    max-width: 200px;
    padding: 15px;
    margin: 10px auto;
}
